Source: ros-kinetic-h264-video-encoder
Section: misc
Priority: extra
Maintainer: AWS RoboMaker <ros-contributions@amazon.com>
Build-Depends: debhelper (>= 9.0.0), google-mock, libgtest-dev, ros-kinetic-aws-ros1-common, ros-kinetic-catkin, ros-kinetic-h264-encoder-core, ros-kinetic-image-transport, ros-kinetic-kinesis-video-msgs, ros-kinetic-message-generation, ros-kinetic-rostest, ros-kinetic-sensor-msgs
Homepage: http://wiki.ros.org/h264_video_encoder
Standards-Version: 3.9.2

Package: ros-kinetic-h264-video-encoder
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-aws-ros1-common, ros-kinetic-image-transport, ros-kinetic-image-transport-plugins, ros-kinetic-kinesis-video-msgs, ros-kinetic-message-runtime, ros-kinetic-sensor-msgs
Description: ROS1 H264 encoder node
